In [1]:
# Data analysis
import pandas as pd 

# Data Visualization
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px 

# Time Series
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.stattools import acf, pacf
from datetime import datetime, timedelta
from statsmodels.tsa.arima.model import ARIMA 
from statsmodels.tsa.statespace.sarimax import SARIMAX
from pmdarima import auto_arima
import statsmodels.api as sm

# For printing multiple outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Visualization parameters
sns.set(rc={"figure.dpi":100, 'savefig.dpi':300})
sns.set_context('notebook')
sns.set_style("ticks")
from IPython.display import set_matplotlib_formats
%config InlineBackend.figure_format = 'retina'

In [2]:
PATH = "../../data/raw_data"

In [3]:
sector_51 = pd.read_excel(PATH + "/sector_51_daily_5:3:20 to 23:11:23.xlsx")
sector_51

,CENTRAL POLLUTION CONTROL BOARD,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,CONTINUOUS AMBIENT AIR QUALITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Date: Thursday, Nov 23 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Time: 12:24:26 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,State,Haryana,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,City,Gurugram,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1370,19-11-2023 00:00,20-11-2023 00:00,149.81,234.32,16.35,15.63,20.79,1.87,10.31
1371,20-11-2023 00:00,21-11-2023 00:00,177.53,321.96,15.1,11.77,19.21,2.51,34.88
1372,21-11-2023 00:00,22-11-2023 00:00,150.27,222.25,15.1,11.78,19.21,2.27,49.94
1373,22-11-2023 00:00,23-11-2023 00:00,173,281.5,15.1,11.77,19.21,1.93,49.94
1374,23-11-2023 00:00,23-11-2023 00:00,256.99,803.59,15.99,14.23,16.59,5.1,34.88

In [4]:
sector_51 = sector_51[15:]

In [5]:
columns = sector_51.iloc[0,:]

In [6]:
sector_51.columns = columns

In [7]:
sector_51.columns.name = ""

In [8]:
sector_51.reset_index(inplace=True)

In [9]:
sector_51.drop(columns=['index'], inplace=True)

/var/folders/27/b03t8q596qvcmtyqjtnh0w6w0000gn/T/ipykernel_34560/1384764267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sector_51.drop(columns=['index'], inplace=True)

In [10]:
sector_51.drop(index=0, inplace=True)

/var/folders/27/b03t8q596qvcmtyqjtnh0w6w0000gn/T/ipykernel_34560/1066287836.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sector_51.drop(index=0, inplace=True)

In [11]:
sector_51

,From Date,To Date,PM2.5,PM10,NO,NO2,NOx,CO,Ozone
1,05-03-2020 00:00,06-03-2020 00:00,36.51,73.15,5.91,24.28,30.19,0.51,71.07
2,06-03-2020 00:00,07-03-2020 00:00,22.23,39.15,5.89,23.24,29.12,0.45,55.32
3,07-03-2020 00:00,08-03-2020 00:00,41.44,77.68,8.54,21.67,30.2,0.63,46.15
4,08-03-2020 00:00,09-03-2020 00:00,62.64,130.39,18.77,24.16,42.94,0.86,41.67
5,09-03-2020 00:00,10-03-2020 00:00,83.74,127.54,4.88,22.1,26.98,0.68,49.61
...,...,...,...,...,...,...,...,...,...
1355,19-11-2023 00:00,20-11-2023 00:00,149.81,234.32,16.35,15.63,20.79,1.87,10.31
1356,20-11-2023 00:00,21-11-2023 00:00,177.53,321.96,15.1,11.77,19.21,2.51,34.88
1357,21-11-2023 00:00,22-11-2023 00:00,150.27,222.25,15.1,11.78,19.21,2.27,49.94
1358,22-11-2023 00:00,23-11-2023 00:00,173,281.5,15.1,11.77,19.21,1.93,49.94
1359,23-11-2023 00:00,23-11-2023 00:00,256.99,803.59,15.99,14.23,16.59,5.1,34.88

In [12]:
sector_51.drop(columns=['To Date'], inplace=True)

/var/folders/27/b03t8q596qvcmtyqjtnh0w6w0000gn/T/ipykernel_34560/2542681804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sector_51.drop(columns=['To Date'], inplace=True)

In [13]:
sector_51

             From Date   PM2.5    PM10     NO    NO2    NOx    CO  Ozone
1     05-03-2020 00:00   36.51   73.15   5.91  24.28  30.19  0.51  71.07
2     06-03-2020 00:00   22.23   39.15   5.89  23.24  29.12  0.45  55.32
3     07-03-2020 00:00   41.44   77.68   8.54  21.67   30.2  0.63  46.15
4     08-03-2020 00:00   62.64  130.39  18.77  24.16  42.94  0.86  41.67
5     09-03-2020 00:00   83.74  127.54   4.88   22.1  26.98  0.68  49.61
...                ...     ...     ...    ...    ...    ...   ...    ...
1355  19-11-2023 00:00  149.81  234.32  16.35  15.63  20.79  1.87  10.31
1356  20-11-2023 00:00  177.53  321.96   15.1  11.77  19.21  2.51  34.88
1357  21-11-2023 00:00  150.27  222.25   15.1  11.78  19.21  2.27  49.94
1358  22-11-2023 00:00     173   281.5   15.1  11.77  19.21  1.93  49.94
1359  23-11-2023 00:00  256.99  803.59  15.99  14.23  16.59   5.1  34.88

[1359 rows x 8 columns]

In [18]:
sector_51['From Date']

1       05-03-2020 00:00
2       06-03-2020 00:00
3       07-03-2020 00:00
4       08-03-2020 00:00
5       09-03-2020 00:00
              ...
1355    19-11-2023 00:00
1356    20-11-2023 00:00
1357    21-11-2023 00:00
1358    22-11-2023 00:00
1359    23-11-2023 00:00
Name: From Date, Length: 1359, dtype: object

In [16]:
sector_51[-20:]

             From Date   PM2.5    PM10      NO     NO2     NOx    CO  Ozone
1340  04-11-2023 00:00  357.39  640.62   55.81    89.2   70.45  4.03  35.86
1341  05-11-2023 00:00  172.64   390.4   68.11  128.49   100.8  3.28  17.54
1342  06-11-2023 00:00  297.54  455.15    6.12   35.39   18.96  3.48  20.89
1343  07-11-2023 00:00  222.18  421.06   81.22   87.72  103.38  4.07  20.99
1344  08-11-2023 00:00  302.78  419.93  166.83  176.38  146.43  4.61  26.93
1345  09-11-2023 00:00  342.28  532.25   21.78   64.41   29.04  3.73  19.78
1346  10-11-2023 00:00  123.29  205.12   50.95   74.56   63.84  2.54   12.8
1347  11-11-2023 00:00  121.53  198.35   39.01   57.53   44.87  2.49  15.64
1348  12-11-2023 00:00  150.01  221.22   26.83   46.19   32.74  2.73  23.08
1349  13-11-2023 00:00  307.18  413.21    20.6   11.97   33.04  3.64  10.67
1350  14-11-2023 00:00  255.45  382.83   41.01   46.24    51.6  4.47   10.3
1351  15-11-2023 00:00  185.14  347.84   53.57   42.98   47.47  3.11  10.41
1352  16-11-2023 00:00  399.47   460.7    45.6   45.84   34.66  2.82  10.34
1353  17-11-2023 00:00  253.84  438.72  130.01   75.42   77.08  3.27   10.3
1354  18-11-2023 00:00   165.8  284.23    42.4   66.68   42.47  1.95  10.31
1355  19-11-2023 00:00  149.81  234.32   16.35   15.63   20.79  1.87  10.31
1356  20-11-2023 00:00  177.53  321.96    15.1   11.77   19.21  2.51  34.88
1357  21-11-2023 00:00  150.27  222.25    15.1   11.78   19.21  2.27  49.94
1358  22-11-2023 00:00     173   281.5    15.1   11.77   19.21  1.93  49.94
1359  23-11-2023 00:00  256.99  803.59   15.99   14.23   16.59   5.1  34.88

In [31]:
sector_51.index = pd.to_datetime(sector_51['From Date'],dayfirst=True)

In [33]:
sector_51[-30:]

,From Date,PM2.5,PM10,NO,NO2,NOx,CO,Ozone
From Date,,,,,,,,
2023-10-25,25-10-2023 00:00,138.2,235.26,46.76,52.34,55.61,1.38,30.42
2023-10-26,26-10-2023 00:00,150.31,325.29,48.87,53.01,56.49,1.4,30.5
2023-10-27,27-10-2023 00:00,155.06,314.72,121.43,59.24,118.92,2.2,30.39
2023-10-28,28-10-2023 00:00,143.38,280.44,131.71,76.85,137.67,2.45,30.17
2023-10-29,29-10-2023 00:00,92.04,161.83,39.7,74.59,62.08,1.94,31.2
2023-10-30,30-10-2023 00:00,106.16,171.23,18.13,72.35,44.23,1.48,30.17
2023-10-31,31-10-2023 00:00,163.24,252.5,7.58,79.73,46.53,1.57,44.34
2023-11-01,01-11-2023 00:00,90.8,156.81,40.16,69.99,58.54,2.04,30.18
2023-11-02,02-11-2023 00:00,169.72,295.43,121.61,89.89,98.44,3.39,30.39
2023-11-03,03-11-2023 00:00,311.11,335.01,64.47,86.39,61.14,3.32,30.99
2023-11-04,04-11-2023 00:00,357.39,640.62,55.81,89.2,70.45,4.03,35.86
2023-11-05,05-11-2023 00:00,172.64,390.4,68.11,128.49,100.8,3.28,17.54
2023-11-06,06-11-2023 00:00,297.54,455.15,6.12,35.39,18.96,3.48,20.89
2023-11-07,07-11-2023 00:00,222.18,421.06,81.22,87.72,103.38,4.07,20.99
2023-11-08,08-11-2023 00:00,302.78,419.93,166.83,176.38,146.43,4.61,26.93
2023-11-09,09-11-2023 00:00,342.28,532.25,21.78,64.41,29.04,3.73,19.78
2023-11-10,10-11-2023 00:00,123.29,205.12,50.95,74.56,63.84,2.54,12.8
2023-11-11,11-11-2023 00:00,121.53,198.35,39.01,57.53,44.87,2.49,15.64
2023-11-12,12-11-2023 00:00,150.01,221.22,26.83,46.19,32.74,2.73,23.08
2023-11-13,13-11-2023 00:00,307.18,413.21,20.6,11.97,33.04,3.64,10.67
2023-11-14,14-11-2023 00:00,255.45,382.83,41.01,46.24,51.6,4.47,10.3
2023-11-15,15-11-2023 00:00,185.14,347.84,53.57,42.98,47.47,3.11,10.41
2023-11-16,16-11-2023 00:00,399.47,460.7,45.6,45.84,34.66,2.82,10.34
2023-11-17,17-11-2023 00:00,253.84,438.72,130.01,75.42,77.08,3.27,10.3
2023-11-18,18-11-2023 00:00,165.8,284.23,42.4,66.68,42.47,1.95,10.31
2023-11-19,19-11-2023 00:00,149.81,234.32,16.35,15.63,20.79,1.87,10.31
2023-11-20,20-11-2023 00:00,177.53,321.96,15.1,11.77,19.21,2.51,34.88
2023-11-21,21-11-2023 00:00,150.27,222.25,15.1,11.78,19.21,2.27,49.94
2023-11-22,22-11-2023 00:00,173,281.5,15.1,11.77,19.21,1.93,49.94
2023-11-23,23-11-2023 00:00,256.99,803.59,15.99,14.23,16.59,5.1,34.88

In [38]:
sector_51[datetime(2023,11,14):]

,From Date,PM2.5,PM10,NO,NO2,NOx,CO,Ozone
From Date,,,,,,,,
2023-11-14,14-11-2023 00:00,255.45,382.83,41.01,46.24,51.6,4.47,10.3
2023-11-15,15-11-2023 00:00,185.14,347.84,53.57,42.98,47.47,3.11,10.41
2023-11-16,16-11-2023 00:00,399.47,460.7,45.6,45.84,34.66,2.82,10.34
2023-11-17,17-11-2023 00:00,253.84,438.72,130.01,75.42,77.08,3.27,10.3
2023-11-18,18-11-2023 00:00,165.8,284.23,42.4,66.68,42.47,1.95,10.31
2023-11-19,19-11-2023 00:00,149.81,234.32,16.35,15.63,20.79,1.87,10.31
2023-11-20,20-11-2023 00:00,177.53,321.96,15.1,11.77,19.21,2.51,34.88
2023-11-21,21-11-2023 00:00,150.27,222.25,15.1,11.78,19.21,2.27,49.94
2023-11-22,22-11-2023 00:00,173,281.5,15.1,11.77,19.21,1.93,49.94
2023-11-23,23-11-2023 00:00,256.99,803.59,15.99,14.23,16.59,5.1,34.88