In [1]:
# Data analysis
import pandas as pd 

# Data Visualization
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px 

# Time Series
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.stattools import acf, pacf
from datetime import datetime, timedelta
from statsmodels.tsa.arima.model import ARIMA 
from statsmodels.tsa.statespace.sarimax import SARIMAX
from pmdarima import auto_arima
import statsmodels.api as sm

# For printing multiple outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Visualization parameters
sns.set(rc={"figure.dpi":100, 'savefig.dpi':300})
sns.set_context('notebook')
sns.set_style("ticks")
from IPython.display import set_matplotlib_formats
%config InlineBackend.figure_format = 'retina'

In [2]:
PATH = "../../data/raw_data"

In [3]:
sector_51 = pd.read_excel(PATH + "/sector_51_daily_5:3:20 to 23:11:23.xlsx")
sector_51

,CENTRAL POLLUTION CONTROL BOARD,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,CONTINUOUS AMBIENT AIR QUALITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Date: Thursday, Nov 23 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Time: 12:24:26 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,State,Haryana,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,City,Gurugram,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1370,19-11-2023 00:00,20-11-2023 00:00,149.81,234.32,16.35,15.63,20.79,1.87,10.31
1371,20-11-2023 00:00,21-11-2023 00:00,177.53,321.96,15.1,11.77,19.21,2.51,34.88
1372,21-11-2023 00:00,22-11-2023 00:00,150.27,222.25,15.1,11.78,19.21,2.27,49.94
1373,22-11-2023 00:00,23-11-2023 00:00,173,281.5,15.1,11.77,19.21,1.93,49.94
1374,23-11-2023 00:00,23-11-2023 00:00,256.99,803.59,15.99,14.23,16.59,5.1,34.88

In [4]:
sector_51 = sector_51[15:]

In [5]:
columns = sector_51.iloc[0,:]

In [6]:
sector_51.columns = columns

In [7]:
sector_51.columns.name = ""

In [8]:
sector_51.reset_index(inplace=True)

In [9]:
sector_51.drop(columns=['index'], inplace=True)

/var/folders/27/b03t8q596qvcmtyqjtnh0w6w0000gn/T/ipykernel_34560/1384764267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sector_51.drop(columns=['index'], inplace=True)

In [10]:
sector_51.drop(index=0, inplace=True)

/var/folders/27/b03t8q596qvcmtyqjtnh0w6w0000gn/T/ipykernel_34560/1066287836.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sector_51.drop(index=0, inplace=True)

In [11]:
sector_51

,From Date,To Date,PM2.5,PM10,NO,NO2,NOx,CO,Ozone
1,05-03-2020 00:00,06-03-2020 00:00,36.51,73.15,5.91,24.28,30.19,0.51,71.07
2,06-03-2020 00:00,07-03-2020 00:00,22.23,39.15,5.89,23.24,29.12,0.45,55.32
3,07-03-2020 00:00,08-03-2020 00:00,41.44,77.68,8.54,21.67,30.2,0.63,46.15
4,08-03-2020 00:00,09-03-2020 00:00,62.64,130.39,18.77,24.16,42.94,0.86,41.67
5,09-03-2020 00:00,10-03-2020 00:00,83.74,127.54,4.88,22.1,26.98,0.68,49.61
...,...,...,...,...,...,...,...,...,...
1355,19-11-2023 00:00,20-11-2023 00:00,149.81,234.32,16.35,15.63,20.79,1.87,10.31
1356,20-11-2023 00:00,21-11-2023 00:00,177.53,321.96,15.1,11.77,19.21,2.51,34.88
1357,21-11-2023 00:00,22-11-2023 00:00,150.27,222.25,15.1,11.78,19.21,2.27,49.94
1358,22-11-2023 00:00,23-11-2023 00:00,173,281.5,15.1,11.77,19.21,1.93,49.94
1359,23-11-2023 00:00,23-11-2023 00:00,256.99,803.59,15.99,14.23,16.59,5.1,34.88